@media (min-width: 768px) {
	.advantages {
		.advantages-list {
			li {
				width: 27%;
				display: inline-block;
				margin: 0;
				padding: 0 20px;
				text-align: center;
				vertical-align: top;
				.icon-wrapper {
					float: inherit;
					margin: 0 auto 32px;

					.fa {
						font-size: 70px;
					}
				}
				&:nth-child(2) {
					border-left: 2px solid rgba(255, 255, 255, 0.5);
					border-right: 2px solid rgba(255, 255, 255, 0.5);
				}
				&:first-child {
					margin: 0;
				}

				&:last-child {
					margin: 0;
				}
			}
		}
	}
	// about
	.about {
		background: url("../images/about-bg.jpg") no-repeat;
		background-size: cover;
		background-position: center;
	}
}

@media (min-width: 1024px) {
// slider
header {
	height: 106px;
	.logo {
		left: 0;
		transform: none;
		width: 167px;
		height: auto;
	}

	.call-us-block {
		display: none;
	}

	.desctop-phone,
	.social-icons-desctop {
		display: block;
	}
	.desctop-phone {
		float: left;
		margin: 40px 0 0 158px;
		overflow: hidden;

		.fa {
			float: left;
			margin: 0 6px 0 0;
			color: #6c6460;
			font-size: 30px;
		}

		a {
			display: block;
			overflow: hidden;
			margin: 3px 0 0;
			color: #6c6460;
			font: 700 18px / 22px $OpenSans;
		}
	}

	.social-icons-desctop {
		float: right;
		margin: 34px 0 0;
		.social-list {
			@include border-box;
			margin: -2px -6px 0 0;
			li {
				display: inline-block;
				margin: 0;

				&:first-child {
					margin: 0 19px 0 0;
				}

				.fa {
					font-size: 40px;
					color: #6c6460;
					@include transition;
				}
				.fa-youtube-square {
					&:hover {
						color: #370909;
					}
				}
				.fa-facebook-square {
					&:hover {
						color: #3b5998;
					}
				}
			}
		}	
	}
}

// hslider-section
.slider-section {
	.slick-slide {
		height: 485px;
	}

	.slider-content {
		padding: 47px 9px 47px 26px;
		top: 48%;
		.main-title {
			min-width: 505px;
			font-size: 35px;
			line-height: 40px;
		}
	}
}

	// advantages
	.advantages {
		padding: 24px 0 60px;
		.advantages-title {
			font-size: 25px;
			line-height: 40px;
			margin: 5px auto 54px;
			padding-left: 13px;


			span {
				display: inline;
			}
		}

		.advantages-list {
			margin: 0 auto;
			li {
				width: auto;
				padding: 24px 45px;

				.icon-wrapper {
					margin: 0 auto 36px;
				}

				.title {
					width: 225px;
				}
			}
		}
	}

	// about
	.about {
		padding-bottom: 44px;
		.about-title {
			margin: 32px 0 40px;
			padding-left: 5px;
			text-align: left;
			font-size: 25px;
			line-height: 30px;
		}

		p {
			padding-left: 5px;
		}

		.about-phone {
			margin: 0 auto;

			.fa {
				margin: 4px 8px 0 9px;
				font-size: 27px;
			}
		}
	} 

	// school
	.school {
		padding: 24px 0 49px;
		.school-main-title {
			margin: 12px auto 55px;
			font-size: 25px;
			line-height: 40px;
		}
		.school-list {
			margin: 0 auto;
			li {
				display: inline-block;
				width: 180px;
				margin: 0 6px;
				vertical-align: top;
				text-align: center;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				.img-wrapper {
					float: inherit;
					margin: 0 auto 45px;
					width: 175px;
					height: 138px;
				}
			}
		}
	}

	// preffoter 
	.preffoter {
		overflow: hidden;
		padding: 0;
		.prefooter-logo {
			display: block;
			height: 152px;
			overflow: hidden;
			float: left;
			margin: 2px 20px 0 -16px;
		}

		.preffoter-phone {
			float: left;
			overflow: hidden;
			margin: 65px 0 0 0;

			.fa {
				margin: 0px 0 0 5px;
				font-size: 29px;
			}

			a {
				margin: 1px 0 0;
			}
		}

		.preffoter-social-icons {
			float: right;
			margin: 62px 0 0 0;

			.preffoter-list {
				margin: 0 -9px 0 0;
			}

			li {
				margin: 0;

				&:first-child {
					margin: 0 10px 0 0;
				}
				.fa {
					font-size: 30px;
				}
			}
		}
	}
	// footer 
	footer {
		.copyright {
			.copyright-sign {
				padding: 1px 0 0 17px;

				a {
					&:nth-of-type(2) {
						letter-spacing: 0.5px;
					}
				}
			}
		}
	}
}