/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.eot");
  src: url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.woff2") format("woff2"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.woff") format("woff"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.ttf") format("truetype"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.svg#HelveticaNeueLTPro-ThEx") format("svg"), url("../resources/HelveticaNeueLTPro/HelveticaNeueLTPro-ThEx.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 16, ../sass/main-styles.scss */
body {
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

/* line 23, ../sass/main-styles.scss */
* {
  outline: none;
}

/* line 53, ../sass/main-styles.scss */
.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

/* line 61, ../sass/main-styles.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/_header.scss */
header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 61px;
  background-color: #ede9e6;
  box-shadow: -0.3px 5px 5px rgba(0, 0, 0, 0.15);
}
/* line 7, ../sass/_header.scss */
header .logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%);
  width: 77px;
  height: 81px;
}
/* line 16, ../sass/_header.scss */
header .logo img {
  max-width: 100%;
  height: auto;
}
/* line 21, ../sass/_header.scss */
header .desctop-phone,
header .social-icons-desctop {
  display: none;
}
/* line 25, ../sass/_header.scss */
header .call-us-block {
  float: right;
  margin: -10px 0 0 0;
  vertical-align: middle;
}
/* line 30, ../sass/_header.scss */
header .call-us-block span {
  display: inline-block;
  line-height: 33px;
  vertical-align: middle;
  color: #2b2318;
  font-size: 29px;
}
/* line 38, ../sass/_header.scss */
header #info-mobile {
  width: 217px;
  height: auto;
  background-color: #370909;
  box-shadow: -0.3px 5px 5px rgba(0, 0, 0, 0.15);
  clear: none;
  float: right;
  position: absolute;
  top: 61px;
  right: 0;
  z-index: 8;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 51, ../sass/_header.scss */
header #info-mobile a {
  display: block;
  margin: 34px auto 28px;
  text-align: center;
}
/* line 55, ../sass/_header.scss */
header #info-mobile a .phone {
  color: #ede9e6;
  font: 700 18px/23px "Open Sans", sans-serif;
}
/* line 61, ../sass/_header.scss */
header .call-us-block > label {
  float: right;
  position: relative;
  z-index: 2;
  margin: 5px 0 0;
  color: #000;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 70, ../sass/_header.scss */
header .call-us-block > label .fa {
  display: block;
  margin: 15px 0 0;
  color: #6c6460;
  font-size: 38px;
  font-weight: 400;
  line-height: 40px;
}
/* line 79, ../sass/_header.scss */
header input {
  display: none;
}
/* line 80, ../sass/_header.scss */
header input:checked + #info-mobile {
  display: none;
}

/* line 1, ../sass/_footer.scss */
footer {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  background-color: #370909;
}
/* line 7, ../sass/_footer.scss */
footer .copyright {
  clear: both;
  margin: 0 auto;
  padding: 4px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #370909;
}
/* line 14, ../sass/_footer.scss */
footer .copyright .copyright-sign {
  margin: 0 auto;
  color: #fff;
  font: 400 14px/22px "Open Sans", sans-serif;
}
/* line 19, ../sass/_footer.scss */
footer .copyright .copyright-sign a {
  color: #fff;
}
/* line 22, ../sass/_footer.scss */
footer .copyright .copyright-sign a:hover {
  text-decoration: underline;
}
/* line 26, ../sass/_footer.scss */
footer .copyright .copyright-sign a:nth-of-type(2) {
  font: 400 13px/22px "HelveticaNeueLTPro", sans-serif;
}

/*section slider*/
/* line 4, ../sass/_main-page.scss */
.slider-section .main-slider {
  overflow: hidden;
}
/* line 8, ../sass/_main-page.scss */
.slider-section .slick-slide {
  position: relative;
  height: 281px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 24, ../sass/_main-page.scss */
.slider-section .slick-slide:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/* line 35, ../sass/_main-page.scss */
.slider-section .slick-slide img {
  min-height: auto;
  height: 100%;
  min-width: auto;
  max-width: none;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 49, ../sass/_main-page.scss */
.slider-section .slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 27px 0 27px;
  border: 2px solid rgba(242, 238, 235, 0.87);
}
/* line 57, ../sass/_main-page.scss */
.slider-section .slider-content .main-title {
  min-width: 235px;
  font: 400 22px/30px "Open Sans", sans-serif;
  color: #f2eeeb;
  text-transform: uppercase;
  text-align: center;
}
/* line 64, ../sass/_main-page.scss */
.slider-section .slider-content .main-title span {
  color: #ffac08;
  font-weight: 700;
}

/*end section slider*/
/*section advantages*/
/* line 73, ../sass/_main-page.scss */
.advantages {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 0;
  background-image: linear-gradient(to top, #e1ddda 0%, #f2eeeb 100%);
  box-shadow: -0.3px 4px 5px rgba(0, 0, 0, 0.22);
}
/* line 79, ../sass/_main-page.scss */
.advantages .advantages-title {
  margin: 0 auto 23px;
  text-align: center;
  color: #370909;
  font: 400 18px/25px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 86, ../sass/_main-page.scss */
.advantages .advantages-title span {
  display: block;
  font-weight: 700;
}
/* line 92, ../sass/_main-page.scss */
.advantages .advantages-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
/* line 98, ../sass/_main-page.scss */
.advantages .advantages-list li {
  display: block;
  margin: 32px auto;
  text-align: left;
}
/* line 103, ../sass/_main-page.scss */
.advantages .advantages-list li .icon-wrapper {
  float: left;
  min-width: 65px;
  margin: 0 18px 0 0;
}
/* line 108, ../sass/_main-page.scss */
.advantages .advantages-list li .icon-wrapper .fa {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
/* line 115, ../sass/_main-page.scss */
.advantages .advantages-list li .title {
  overflow: hidden;
  color: #370909;
  font: 400 18px/22px "Open Sans", sans-serif;
}
/* line 123, ../sass/_main-page.scss */
.advantages .advantages-list li:hover .icon-wrapper .fa {
  color: #370909;
}
/* line 129, ../sass/_main-page.scss */
.advantages .advantages-list li:first-child {
  margin-top: 0;
}
/* line 133, ../sass/_main-page.scss */
.advantages .advantages-list li:last-child {
  margin-bottom: 0;
}

/*end section advantages*/
/*section about*/
/* line 141, ../sass/_main-page.scss */
.about {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background-size: contain;
  background-position: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 0 31px;
  background: url("../images/about-mobile.jpg") no-repeat;
  background-position: bottom center;
  background-size: cover;
}
/* line 148, ../sass/_main-page.scss */
.about:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/* line 158, ../sass/_main-page.scss */
.about .about-title {
  margin: 0 auto 22px;
  text-align: center;
  color: #e1ddda;
  font: 700 18px/25px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 166, ../sass/_main-page.scss */
.about p {
  color: #e1ddda;
  font: 400 16px/25px "Open Sans", sans-serif;
}
/* line 170, ../sass/_main-page.scss */
.about p span {
  color: #ffac08;
  font-weight: 700;
}
/* line 176, ../sass/_main-page.scss */
.about .about-phone {
  overflow: hidden;
  margin: 10px auto 0;
  color: #e1ddda;
  font: 400 16px/25px "Open Sans", sans-serif;
}
/* line 182, ../sass/_main-page.scss */
.about .about-phone span {
  display: block;
  margin: 5px 0 0 0;
  color: #ffac08;
  font-weight: 700;
}
/* line 189, ../sass/_main-page.scss */
.about .about-phone .fa {
  float: left;
  margin: 0 10px 0 0;
  font-size: 30px;
  color: #ffac08;
}

/*end section about*/
/*schol section */
/* line 199, ../sass/_main-page.scss */
.school {
  padding: 24px 0 19px;
  background-color: #fff;
  box-shadow: -0.3px 4px 5px rgba(0, 0, 0, 0.14);
}
/* line 204, ../sass/_main-page.scss */
.school .school-main-title {
  margin: 0 auto 17px;
  text-align: center;
  color: #370909;
  font: 18px/25px "Open Sans", sans-serif;
  text-transform: uppercase;
}
/* line 211, ../sass/_main-page.scss */
.school .school-main-title span {
  font-weight: 700;
}
/* line 216, ../sass/_main-page.scss */
.school .school-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
/* line 221, ../sass/_main-page.scss */
.school .school-list li {
  display: block;
  overflow: hidden;
  margin: 15px auto;
  text-align: left;
  clear: both;
}
/* line 228, ../sass/_main-page.scss */
.school .school-list li .img-wrapper {
  float: left;
  margin: 0 20px 0 0;
  width: 100px;
  height: 100px;
}
/* line 234, ../sass/_main-page.scss */
.school .school-list li .img-wrapper img {
  width: auto;
  height: 100%;
}
/* line 240, ../sass/_main-page.scss */
.school .school-list li .school-name {
  overflow: hidden;
  margin: 20px 0 0;
  color: #370909;
  font: 400 16px/22px "Open Sans", sans-serif;
  text-transform: uppercase;
}

/*end schol section */
/*section preffoter*/
/* line 253, ../sass/_main-page.scss */
.preffoter {
  padding: 24px 0 30px;
  background-color: #e1ddda;
}
/* line 257, ../sass/_main-page.scss */
.preffoter .prefooter-logo {
  display: none;
}
/* line 261, ../sass/_main-page.scss */
.preffoter .preffoter-phone {
  width: 210px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
/* line 266, ../sass/_main-page.scss */
.preffoter .preffoter-phone .fa {
  float: left;
  margin: 0 10px 0 0;
  font-size: 37px;
  color: #6c6460;
}
/* line 273, ../sass/_main-page.scss */
.preffoter .preffoter-phone a {
  display: block;
  margin: 6px 0 0;
  color: #6c6460;
  font: 700 18px/23px "Open Sans", sans-serif;
}
/* line 281, ../sass/_main-page.scss */
.preffoter .preffoter-social-icons {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 28px auto 0;
  text-align: center;
}
/* line 285, ../sass/_main-page.scss */
.preffoter .preffoter-social-icons li {
  display: inline-block;
  margin: 0 12px;
}
/* line 289, ../sass/_main-page.scss */
.preffoter .preffoter-social-icons li .fa {
  font-size: 49px;
  color: #6c6460;
}

/*end section preffoter*/
@media (min-width: 768px) {
  /* line 4, ../sass/_media.scss */
  .advantages .advantages-list li {
    width: 27%;
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    vertical-align: top;
  }
  /* line 11, ../sass/_media.scss */
  .advantages .advantages-list li .icon-wrapper {
    float: inherit;
    margin: 0 auto 32px;
  }
  /* line 15, ../sass/_media.scss */
  .advantages .advantages-list li .icon-wrapper .fa {
    font-size: 70px;
  }
  /* line 19, ../sass/_media.scss */
  .advantages .advantages-list li:nth-child(2) {
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
  }
  /* line 23, ../sass/_media.scss */
  .advantages .advantages-list li:first-child {
    margin: 0;
  }
  /* line 27, ../sass/_media.scss */
  .advantages .advantages-list li:last-child {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  /* line 37, ../sass/_media.scss */
  header {
    height: 106px;
  }
  /* line 39, ../sass/_media.scss */
  header .logo {
    left: 0;
    transform: none;
    width: 137px;
    height: 136px;
  }
  /* line 46, ../sass/_media.scss */
  header .call-us-block {
    display: none;
  }
  /* line 50, ../sass/_media.scss */
  header .desctop-phone,
  header .social-icons-desctop {
    display: block;
  }
  /* line 54, ../sass/_media.scss */
  header .desctop-phone {
    float: left;
    margin: 42px 0 0 140px;
    overflow: hidden;
  }
  /* line 59, ../sass/_media.scss */
  header .desctop-phone .fa {
    float: left;
    margin: 0 10px 0 0;
    color: #6c6460;
    font-size: 30px;
  }
  /* line 66, ../sass/_media.scss */
  header .desctop-phone a {
    display: block;
    overflow: hidden;
    margin: 5px 0 0;
    color: #6c6460;
    font: 700 18px/22px "Open Sans", sans-serif;
  }
  /* line 75, ../sass/_media.scss */
  header .social-icons-desctop {
    float: right;
    margin: 28px 0 0;
  }

  /* line 86, ../sass/_media.scss */
  .slider-section .slick-slide {
    height: 485px;
  }
}
